/VS2019/.vs/*
/VS2019/APP/bin/*
/VS2019/APP/obj/*
.vscode/

Site/Git-2.25.0-64-bit.exe

VS2019/APP/obj/

VS2019/APP/bin/

VS2019/.vs/

Recursos/SpaceInvaderAssets.zip

src/WebWindow.Blazor/bin/

src/WebWindow.Blazor/obj/

src/WebWindow.Blazor.JS/bin/

src/WebWindow.Blazor.JS/obj/

src/Metamorff/MonoTorrent/obj/

src/Metamorff/MonoTorrent/bin/

src/MonoTorrent/MonoTorrent/obj/

src/MonoTorrent/MonoTorrent/bin/
