*{
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100vh;
}
app{
    width: 100%;
    height: 100%;
}
.tudo{
    display: flex;
    width: 100%;
    height: 100%;
}

/**SIDEBAR*/
@media screen{
    .sidebar{
    display: flex;
    flex-direction: column;
    flex-basis: 17rem;
    flex-shrink: 0;
    height: 100%;
    width: 30%;
    background-color: lightgreen ;
}
.redes{
    order: 2;
    flex-direction: column;
    display: flex;
    z-index: 14;
    flex-basis:100%;
    overflow-y: scroll;
}
.redes::-webkit-scrollbar{
    display: none;
}


/**Rede Individual*/
@media screen{
.rede-individual{
    display: flex;
    flex-direction: column;
    flex-basis: 50px;
}
.rede-individual > .HoverDiv{
    position: absolute;
    width: 222px;
    height: 50px;
    z-index: 15;
    clip-path: inset(0% 100% 0% 0%);
    background-color: hsla(0, 0%, 100%, 0.267);
    transition: clip-path .5s ease;
} 
.rede-individual:hover > .HoverDiv{
    clip-path: inset(0% 0% 0% 0%);
} 
.uselessDiv{
    display: block;
    flex-grow: 2;
    flex-basis: 100%;
}

.mainDiv{
    display: flex;
    width: 100%;
    z-index: 10;
    background-color: lightcoral;
}

.mainDiv > .Estado{
    flex-basis: 3rem;
    height: 50px;
    min-width: 50px;
    display: grid;
    align-items: center;
    justify-items: center;
    z-index: 20;
}
.mainDiv > .Estado > div{
    border-radius: 100px;
    height: .9rem;
    width: .9rem;
    z-index: 21;
    display: block;
}
.mainDiv > .NomeRede {
    height: 50px;
    flex-basis: 20rem;
    padding-left: .2em;
    z-index: 20;
    display: grid;
    align-items: center;  
}

.mainDiv > .opcoesbtn{
    height: 50px;
    min-width: 50px;
    flex-basis: 3rem;
    display: grid;
    z-index: 20;
    align-items: center;
    justify-items: center;
    background-color: transparent;
    transition: background-color .5s ease;
}
.mainDiv > .opcoesbtn:hover{
    background-color: hsla(0, 0%, 100%, 0.267);
    cursor: pointer;
}
.mainDiv > .opcoesbtn > button{
    width: 1rem;
    height: 1rem;
    z-index: 21;
    display:block;
    background-color: transparent;
    padding:0;
    border: 0;
}
.mainDiv > .opcoesbtn > button > svg{
    width :100%;
    height:100%;
    transition: transform .25s ease-in; 
}
}
/** .Net_Options_Sub_Menu{ */
@media screen{
.Net_Options_Sub_Menu{
    display: none;
    width: 100%;
}

.Net_Options_Sub_Menu > div{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: khaki;
}

.Net_Options_Sub_Menu > div > .opcao1 {
    flex: 1;
    height: 100%;
    background-color: red;
}

.Net_Options_Sub_Menu > div > .opcao2 {
    flex: 1;
    height: 100%;
    background-color: green;
}

.Net_Options_Sub_Menu > div > .opcao3 {
    flex: 1;
    height: 100%;
    background-color: blue;
}
}

.logo{
    order: 1;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100% ;
    height: 75px;
    background-color: lightskyblue;
}
/** .IconsBtn Optionsdiv */
@media screen {
    .icon-menu{
        order:2; 
        display:flex;
        flex-basis: 7rem;
        flex-direction: column;
    }
    .icon-btn{
        order: 1;
        display:block;
        background-color: lightskyblue;
        flex-basis: 2rem;
        border: 0;
        height: 2rem;
    }
    .icon-holder{
        order: 3;
        display: flex;
        background-color: lightpink;
        flex-basis: 7rem;
        align-items: center;
        justify-content: space-evenly; 
    }

    #options-div{
        display: none;
        background-color: lightskyblue;
        width: 100%;
        height: 100px;
    }
    #options-div > div{
        display: flex;
        overflow-x: scroll;
        background-color: lightskyblue;
        width: 100%;
        height: 100%;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }
    #options-div > div::-webkit-scrollbar{
        display: none;
    }
    #options-div > div > .bloco{
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        scroll-snap-align: start;
    }
    #options-div > div > #bloco1{
        background-color: lightskyblue;
    }
    #options-div > div > #bloco2{
        background-color: green;
    }
    #options-div > div > #bloco3{
        background-color: red;
    }
}
}

/** .MainPart e childs*/
@media screen{
.MainPart{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: grey;
}
.MainPart > .upperHeaderDiv{
    background-color: goldenrod;
    height: 75px;
    display: flex;  
    flex-grow: 0;
    flex-shrink: 0;
}
.MainPart > .FileTable{
    width: 100%;
    background-color: mediumturquoise;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    
}
.MainPart > .FileTable > .Headers {
    display: flex;
    height: 50px;
    width: 100%;
    border: 1px solid black;
}

.MainPart > .FileTable > .Headers > div {
    height: 100%;
    display: block;
}
.MainPart > .FileTable > .Headers > div.ChkSelecionado{
    width: 50px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: mediumpurple;
}
.MainPart > .FileTable > .Headers > div.iconFicheiro{
    width: 50px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color:purple;
}
.MainPart > .FileTable > .Headers > div.NomeFicheiro{
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 0;
    background-color:blueviolet;
}
.MainPart > .FileTable > .Headers > div.Tamanho{
    flex-basis: 10%;
    flex-grow: 0;
    flex-shrink: 0;
    background-color:rgb(0, 132, 255);
}
.MainPart > .FileTable > .Headers > div.Data{
    
}
.MainPart > .FileTable > .Headers > div.Autor{

}
.MainPart > .FileTable > .Headers > div.OptionsTogller{

}
}

/** .Hidden Modal Box */
@media screen{
.HiddenModalBox{
    z-index: 25;
    position: absolute;
    display: hidden;
    width: 100%;
    height: 100%;
}
.HiddenModalBox2 {
    position: absolute;
    z-index: 1000000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.295);
    display: grid;
    align-items: center;
    justify-items: center;
}
.ModalBox{
    z-index: 100001;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 600px;
}
    /** Header da Modal Box */
    @media screen {
        
        .ModalBox > .UpperPart{
            display: flex;
            width: 100%;
            height:50px;
            flex-grow: 0;
            flex-shrink: 0;
            background: rgb(5,100,181);
            background: linear-gradient(28deg, rgba(5,100,181,1) 0%, rgba(2,0,36,1) 20%, rgba(5,100,181,1) 40%, rgba(2,0,36,1) 60%, rgba(5,100,181,1) 80%, rgba(2,0,36,1) 100%);
            background-size: 1000% 1000%;
	        animation: gradient 20s linear infinite;
        }
        @keyframes gradient {
            0% {
                background-position: 20% 50%;
            }

            100% {
                background-position: 70% 50%;
            }
        }
        .ModalBox > .UpperPart > div{
            display: grid;
            align-items: center;
            justify-items: center;  
        }
        .ModalBox > .UpperPart > .icon{
            height: 100%;
            width: 50px;
            flex-grow: 0;
            flex-shrink: 0;
        }
        .ModalBox > .UpperPart > .TituloJanela{
            height: 100%;
            
        }
        .ModalBox > .UpperPart > .CloseButton{
            display: block;
            height: 100%;
            width: 50px;
            flex-grow: 0;
            flex-shrink: 0;
            cursor: pointer;
            transition: background-color .5s ease;
        }
        .ModalBox > .UpperPart > .CloseButton:hover{
            background-color: red;
        }
        .ModalBox > .UpperPart > .CloseButton > div{
            height: 50px;
            width: 50px;
            display: grid;
            align-items: center;
            justify-items: center;
        }
        .ModalBox > .UpperPart > .CloseButton > div > svg{
            height: 20px;
            width: 20px;
        }
    }

    /** MainPart da ModalBox*/
    @media screen {
        .ModalBox > .MainContent{
            width: 100%;
            height: 500px;
            background-color: turquoise;
        }

    }

    /** Parte de Baixo da ModalBox*/
    @media screen {
        .ModalBox > .BottomButtonsContainer{
            width: 100%;
            height: 50px;
            background-color: violet;
        }

    }
}