    <div class="big-sidebar-nets">
        @foreach (var Net in MainProps.EvryNet)
        {
            <SoloNetBigSideBar Net=Net/>
        }
        <div class="big-sidebar-nets-solo-bottom-filler"></div>
    </div>