<div class="icon-menu">
    <div id="options-div"><div>
        <div id="bloco1" class="bloco" >1</div>
        <div id="bloco2" class="bloco" >2</div>
        <div id="bloco3" class="bloco" >3</div>
    </div></div>
    <div class="icon-holder">
        <a class="icon-btn" onclick="MenuUpOrDown(1)">

        </a>
        <a class="icon-btn" onclick="MenuUpOrDown(2)">

        </a>
        <a class="icon-btn" onclick="MenuUpOrDown(3)">

        </a>
    </div>
</div>


