<div class="rede-individual">
    <div class="mainDiv">
        <div class="HoverDiv">
            <div class="Estado">
                <div style="@Estilo"></div>
            </div>
            <div class="NomeRede">
                <p>@Rede.NomeRede</p>
            </div>
        </div>
        <div class="opcoesbtn">
            <button><TogllingArrow /></button>
        </div>
    </div>
    <div class="Net_Options_Sub_Menu">
        <div>
            <div class="opcao1" @onclick="EventModalBox"></div>
            <div class="opcao2"></div>
            <div class="opcao3"></div>
        </div>
    </div>
</div>

@code {

    [CascadingParameter]public MainLayout MainLayout{get; set;}


    [Parameter]
    public RedeModel Rede {get;set;}
    
    private string Estilo;


    private void EventModalBox() {
        MainLayout.AbrirExampleModal();
    }

    protected override void OnInitialized()
    {
        switch (Rede.Status)
        {
            case(1):
                Estilo = "background-color: red;";
                break;
            case(2):
                Estilo = "background-color: yellow;";
                break;
            case(3):
                Estilo = "background-color: green;";
                break;
            default:
                break;
        }
    }
}