@using System.IO
@using System.Text.Json


<div class="logo">

</div>
<div class="redes">
    @foreach (var rede in TodasRedes)
        {
            <CascadingValue Value="@MainLayout1">
                <Rede_Individual Rede="rede"/>
            </CascadingValue>
        }
</div>
<IconMenu />

@code {

    [CascadingParameter]public MainLayout MainLayout1 {get;set;}

    private RedeModel[] TodasRedes;

    protected override async Task OnInitializedAsync()
    {
        var mynetworksJson = await File.ReadAllTextAsync("wwwroot/mynetworks.json");
        TodasRedes = JsonSerializer.Deserialize<RedeModel[]>(mynetworksJson, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
    }
}
